<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Page Not Found</title>
</head>
<body>
    <h1>Uh Oh! 404, Page Not Found</h1>
    <p>If first you don't succeed...well you know what to do.</p>
    <a href="/">Try Again</a>
</body>
</html>